{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
<style>
.card-img-top {
  /* Propriétés CSS pour la taille de l'image */
  width: 200px;
  height: 200px;
  /* Propriétés CSS pour le style de l'image */

  
}
 body {
	 background-color: #cccccc;
			background-size:  cover;
		}
</style>

<table > 
<th>
        <td > 
         <div class="card" style="width: 15rem;">
          <img src="image\111.jpg"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Livraison rapide assurée. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> pack Accessoire  </li>
            <li class="list-group-item">650$ </li>
          
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td>
       <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('imageA/images1.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Trouvez l'accessoire parfait. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> pack Accessoire   </li>
            <li class="list-group-item">70$ </li>
          
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td> <br>
        <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('image/3.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Offres spéciales disponibles maintenant. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> pack Accessoire   </li>
            <li class="list-group-item">40$ </li>
           
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td>
        <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('image/4.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Livraison rapide assurée. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">pack Accessoire   </li>
            <li class="list-group-item">100$ </li>
           
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td>
        </div> </table>
        <br>  
          <hr> 
        <table> <th> 
      <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('image/22.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Améliorez votre conduite. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> pack Accessoire   </li>
            <li class="list-group-item">80$ </li>
            
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td>
       <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('image/6.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Style et fonctionnalité combinés. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> pack Accessoire  </li>
            <li class="list-group-item">74$ </li>
            
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td> <br>
        <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('image/7.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Personnalisez votre voiture. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">pack Accessoire   </li>
            <li class="list-group-item">41$ </li>
         
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td>
        <td > 
         <div class="card" style="width: 15rem;">
          <img src={{asset('image/8.jpg')}}  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Qualité supérieure garantie. </h5>
            <p class="card-text">Accessoires uniques disponibles. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> pack Accessoire  </li>
            <li class="list-group-item">65$ </li>
         
          </ul>
          <div class="card-body">
            <a href="/commande/accessoires/new" class="card-link">contacter nous  </a> 
          </div>
        </div> 
        </td> 
        <td> 
         </td>
        </div> </table>

     
    
    


{% endblock %}
