{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nom_complet</th>
                <td>{{ contact.NomComplet }}</td>
            </tr>
            <tr>
                <th>Adresse_email</th>
                <td>{{ contact.AdresseEmail }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ contact.numTel }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.Message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_index') }}">back to list</a>

    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
